.bg-oscuro{
    background-color: #03001C;
}

.bg-ocuro-light{
    background-color: #301E67;
}
.bg-blue-dark{
    background-color: #5B8FB9;
}
.bg-blue-light{
    background-color: #B6EADA;
}